* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  z-index: 2;
}

.body::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  background-color: white;
  height: 30px;
  width: 150px;
  transform: translateX(-50%);
  border-radius: 0 0 30px 30px;
}

.owl {
  background-color: lightgreen;
  height: 220px;
  width: 200px;
  margin: 4rem auto;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: relative;
}

.wing {
  position: absolute;
  top: 120px;
  height: 90px;
  width: 70px;
  background-color: lightgreen;
  border-radius: 50%;
  z-index: 1;
}

.wing.wing-left {
  left: -30px;
  transform: rotate(20deg);
}

.wing.wing-right {
  left: 150px;
  transform: rotate(-20deg);
}

.eye {
  height: 50px;
  width: 50px;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
}

.eye.left {
  position: absolute;
  top: 60px;
  left: 30px;
}

.eye.right {
  position: absolute;
  top: 60px;
  left: 120px;
}

.pupil {
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 16px;
  left: 16px;
}

.eyelid {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #58cc02;
  transform: scaleY(
    0
  ); /*The height becomes 0 - Hides the eyelids so that the eyelids aren't closed by default.*/
  transform-origin: top; /*Closes eyes downward*/

  animation: blink 4s infinite;
}

.beak {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  z-index: 3;
}

.beak::before {
  content: "";
  position: absolute;
  top: 0;
  left: -14px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 14px solid yellow;
  border-radius: 0 0 10px 10px;
}

.beak::after {
  content: "";
  position: absolute;
  left: -12px;
  top: 10px;

  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #e0b020;
}

/* KEYFRAMES */
@keyframes blink {
  0%,
  95%,
  100% {
    transform: scaleY(0);
  }

  97% {
    transform: scaleY(1);
  }
}
