* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.owl {
  background-color: lightgreen;
  height: 220px;
  width: 200px;
  margin: 4rem auto;
  border-radius: 50%;
  position: relative;
}

.eye {
  height: 50px;
  width: 50px;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
}

.eye.left {
  position: absolute;
  top: 60px;
  left: 30px;
}

.eye.right {
  position: absolute;
  top: 60px;
  left: 120px;
}

.pupil {
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 16px;
  left: 16px;
}

.eyelid {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #58cc02;
  transform: scaleY(
    0
  ); /*The height becomes 0 - Hides the eyelids so that the eyelids aren't closed by default.*/
  transform-origin: top; /*Closes eyes downward*/

  animation: blink 4s infinite;
}

/* KEYFRAMES */
@keyframes blink {
  0%,
  95%,
  100% {
    transform: scaleY(0);
  }

  97% {
    transform: scaleY(1);
  }
}
